<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Students list</h1>
    <br>
    <table border = 1>
        <thead>
            <td>S.No</td>
           <td>Roll Number</td>
           <td>First Name</td>
           <td>Last Name</td>
           <td>Actions</td>
        </thead>
        
        {% for row in rows %}
           <tr>
            <td>{{loop.index}}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td> {{ row[3] }}</td>
              <td><a href="/update/{{ row[0] }}">Update</a> <a href="/delete/{{ row[0] }}">Delete</a></td>
           </tr>
        {% endfor %}
     </table>

     
</body>
</html>